@page "/"

@inherits BreakpointComponentBase

<PageTitle>Home</PageTitle>

<MudCarousel Class="mud-width-full" @ref="_carousel" ItemsSource="@_source" bind-SelectedIndex="@_selectedIndex" Style="height:200px;" ShowArrows="@(!IsSmartphoneView)" ShowBullets="@true" EnableSwipeGesture="@true" AutoCycle="@true">
    <ItemTemplate>
        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
            <MudImage Src="@context" Elevation="25" Class="rounded-lg ma-4" Height="250" Width="250"/>
        </div>
    </ItemTemplate>
</MudCarousel>